.qr_overlayer{
    position: absolute;
    width: 50%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 80%;
    background-color: rgba(255,255,255,0.8);
}
.close_tab{
    position: absolute;
    right:0;
    top:0;
    transform: translate(50%,-50%);
    font-weight: bold;
    font-size: 25px;
}
.Qr_div{
    width: fit-content;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,50%);
}